(
    name: "Demo",
    desc: "A demo project.",
    authors: ["John Smith"], // Note: Not a real person.
    version: "0.1.0",

    custard: "0.1.0",
    features: [],

    entrypoint: "main.rhai",
)